<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753006771707-ifea1ae8irla15ocmkh3ebvrn32ft8al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753006771707-ifea1ae8irla15ocmkh3ebvrn32ft8al</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753006771707-dh4hhhb29jm0k8m379d8j4bk6qloskmc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXWJuBb1THwWv-fUF-cU44WDKVr0jg8yY</string>
	<key>GCM_SENDER_ID</key>
	<string>753006771707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudDb</string>
	<key>PROJECT_ID</key>
	<string>subtle-arcade-436</string>
	<key>STORAGE_BUCKET</key>
	<string>subtle-arcade-436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753006771707:ios:6aab8085bf0687e0745f5e</string>
	<key>DATABASE_URL</key>
	<string>https://subtle-arcade-436.firebaseio.com</string>
</dict>
</plist>